:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --dark-gray: #33332d;
  --sweet-color: rgb(53, 240, 246);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
}

.icon {
  width: 2rem;
}

header {
  --bg: #f9f9f9;
  --text-color: #1e1e1e;
  width: 96%;
  height: auto;
  background-color: var(--bg);
  /* color: var(--text-color); */
  border-bottom: 1px solid var(--text-color);
  display: flex;
  align-items: center;
  margin: 10px 20px;
  justify-content: space-between;
  position: fixed;
  padding: 10px;
  top: 0;
  animation: header--animation linear both;
  animation-timeline: scroll(root block);
  animation-range: 0 100px;
  z-index: 1000;

  .logo {
    width: 50px;
    height: 50px;
    /*Es elimina cuando se agrege la img*/
    display: flex;
    align-items: center;
    justify-content: center;
    animation: hide linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 60px;
  }
}

ul {
  display: flex;
  gap: 16px;
  padding: 10px;

  & li {
    width: 150px;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
    padding: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.80);
    position: relative;

    >a {
      display: block;
      border-radius: 10px;
      padding: 4px;
      text-decoration: none;
      /* transition: background-color 100ms ease; */
      border: 1px solid var(--text-color);

      &.--default {
        color: var(--sweet-color);
      }

      &.--active {
        background-color: var(--text-color);
        color: #f9f9f9;
        cursor: default;
      }
    }

    &.li--item {
      animation: reduces linear ease;
      animation-timeline: scroll(root block);
      animation-range: 0 60px;
    }

    &.li--item>.--default:hover {
      background-color: #dbe0e9;
      border: 1px solid rgb(91, 136, 187);
      transition: background-color 1s ease;
    }
  }
}


.config {
  text-transform: uppercase;
  display: flex;
  gap: 10px;
  align-items: center;
  letter-spacing: 1px;
  animation: hide linear both;
  animation-timeline: scroll(root block);
  animation-range: 0 60px;

  >* {
    cursor: pointer;
  }

  .lang {
    font-weight: 400;
  }

  .themes {
    width: 80px;
    border-radius: 15px;
    overflow: hidden;
  }

  .themes>p {
    text-align: center;
    background-color: #f9f9f9;
    color: #000;
    padding: 2px;
    /* border-radius: 10px; */
  }
}

.main--color {
  width: 75px;
  height: 30px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 30px;
  cursor: default;

  & label {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
  }

  .color--one {
    background-color: black;
  }

  .color--two {
    /* background-color: yellow; */
  }

  .color--three {
    /* background-color: blue; */
  }
}

main {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  >* {
    margin-top: 50px;
  }

  .btn {
    display: flex;
    gap: 20px;

    & a {
      width: 144px;
      height: 38px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 10px;
      padding-inline: 10px;
      font-size: 16px;
      border: 1px dashed #000;
      cursor: pointer;

      >.profile--icon {
        height: 16px;
      }
    }

    & a:hover {
      background-color: #BFD1EE;
      border: 1px solid rgb(91, 136, 187);
    }
  }

  #profile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    >figure {

      & .img {
        width: 370px;
        height: 400px;
        background-color: gray;
      }
    }

    >.profile__txt {
      width: 60%;
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: end;
      gap: 20px;
      padding: 0 0 10px 50px;
      text-wrap: balance;

      & .profile__text {
        color: #1e1e1e;
        display: block;
        font-weight: 400;
        font-size: 50px;
        animation: show 5s ease forwards;
      }

      .text--hide {
        display: none;
        animation-fill-mode: backwards;
      }
    }
  }

  & section {
    width: 100%;

    >article,
    >figure {
      margin-top: 100px;
    }

    & article>.title {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 20px;

      >* {
        font-size: 34px;
      }
    }

    & #section__projects {
      flex-direction: column;
      gap: 50px;

      & li {
        height: 300px;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        gap: 30px;

        & figure {
          width: 50%;
        }

        & .project--info {
          width: 50%;
          height: min-content;
          margin: 0 0 20px;
          text-align: start;
          padding: 0 10px;
        }

        & .btn>a:first-child {
          background-color: var(--dark-gray);
          border: none;
          color: #f9f9f9;
        }
      }
    }
  }
}

@keyframes show {
  from {
    display: none;
    opacity: 0.2;
  }

  to {
    color: var(--sweet-color);
    display: block;
    opacity: 1;
  }
}

@keyframes header--animation {
  to {
    --text-color: black;
    width: 800px;
    border-radius: 20px;
    border: 1px solid black;
    justify-content: center;
    padding: 0;
  }
}

@keyframes reduces {
  to {
    width: 100px;
  }
}

@keyframes hide {
  to {
    opacity: 0.2;
    display: none;
  }
}